{% extends "homepage.html" %}

{% block titulo %}
    Criar Conta - I am Surfer
{% endblock titulo %}


{% block formulario %}

        <form method="POST" class="popup">
            {{ form.csrf_token }}
            <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}"></img>

    
            <div class="div-input">
                {{ form.email.label(class="label") }}
                {{ form.email(class="input") }}
            </div>

            <div class="div-input">
                {{ form.username.label(class="label") }}
                {{ form.username(class="input") }}
            </div>

            <div class="div-input">
                {{ form.senha.label(class="label") }}
                {{ form.senha(class="input") }}
            </div>

            <div class="div-input">
                {{ form.confirmacao_senha.label(class="label") }}
                {{ form.confirmacao_senha(class="input") }}
            </div>

            <div class="div-botao">
                {{ form.botao_confirmacao(class="botao-login") }}
                <a href="{{ url_for('homepage') }}" class="link-criarconta">Já tem uma conta? Clique aqui</a>
            </div>

        </form>
        {% endblock %}
